.actions {
  display: flex;
  justify-content: center;
}

.actions__button {
  position: relative;
}

.actions__button--download,
.actions__button--imprint {
  padding-left: 54px;
}

.actions__button--download::before,
.actions__button--imprint::before {
  position: absolute;
  top: 50%;
  left: 22px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  content: "";
}

.actions__button--imprint {
  margin-right: 10px;
}

.actions__button--imprint::before {
  background: url("../img/ui-icons/imprint.svg") 50% 50% no-repeat;
}

.actions__button--imprint:hover::before {
  background: url("../img/ui-icons/imprint-hover.svg") 50% 50% no-repeat;
}

.actions__button--download::before {
  background: url("../img/ui-icons/download.svg") 50% 50% no-repeat;
}

.actions__button--download:hover::before {
  background: url("../img/ui-icons/download-hover.svg") 50% 50% no-repeat;
}
