.artifacts-buffs {
  display: flex;
  align-items: center;
}

.artifacts-buffs__list {
  display: flex;
  align-items: center;
  min-height: 22px;
  margin: 0;
  padding: 0;
}

.artifacts-buffs__list--top {
  margin-bottom: 2px;
}

.artifacts-buffs__item:not(:last-child) {
  margin-right: 2px;
}

.artifacts-buffs__art-big-slot,
.artifacts-buffs__art-smal-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #100025;
  border-radius: 4px;
}

.artifacts-buffs__art-big-slot--active,
.artifacts-buffs__art-smal-slot--active,
.artifacts-buffs__buff-slot--active {
  background-color: inherit;
}

.artifacts-buffs__art-big-slot {
  min-width: 30px;
  min-height: 22px;
}

.artifacts-buffs__art-smal-slot {
  min-width: 22px;
  min-height: 16px;
}

.artifacts-buffs__buff-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 22px;
  margin-left: 9px;
}

.artifacts-buffs__empty-slot {
  width: 22px;
  height: 22px;
  background-color: #100025;
  border-radius: 50%;
}
