.auth--desc {
  position: absolute;
  top: 40px;
  right: 47px;
}

@media (max-width: 768px) {
  .auth--desc {
    display: none;
  }
}

.auth--burger {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.auth__text {
  position: relative;
}

.auth__text::before,
.auth__text::after {
  position: absolute;
  top: 50%;
  left: -30px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  transition: 0.4s opacity;
  content: "";
}

.auth__text::before {
  background: url("../img/ui-icons/auth.svg") 50% 50% no-repeat;
  opacity: 1;
}

.auth__text::after {
  background: url("../img/ui-icons/auth-hover.svg") 50% 50% no-repeat;
  opacity: 0;
}

.auth__link {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 15px 20px 15px 54px;
  color: #fff;
  background-color: rgba(17, 0, 38, 0.05);
  border: 2px solid #fff;
  transition: 0.4s opacity;
  transition: all 0.4s;
}

.auth__link--burger {
  justify-content: center;
  padding: 15px 20px;
}

.auth__link:hover {
  color: #bd0;
  border-color: #bd0;
}

.auth__link:hover .auth__text::before {
  opacity: 0;
}

.auth__link:hover .auth__text::after {
  opacity: 1;
}

.auth__link:hover + .auth__text::before {
  opacity: 0;
}
