.burger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
  min-width: 375px;
  min-height: 100%;
  padding-top: 78px;
  background-color: rgba(48, 16, 112, 0.8);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

@media (max-width: 768px) {
  .burger {
    min-width: 100%;
    padding-top: 110px;
  }
}

.burger__nav {
  padding: 0 20px;
}
