.burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  align-items: center;
  min-width: 320px;
  height: 52px;
  padding-top: 20px;
}

.burger-menu--start-page {
  display: none;
}

@media (max-width: 768px) {
  .burger-menu--start-page {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .burger-menu {
    min-width: 100%;
    padding-top: 0;
    background-color: rgba(32, 0, 80, 0.4);
  }
}

.burger-menu__button {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.burger-menu__button::before,
.burger-menu__button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: 0.5s opacity;
  content: "";
}

.burger-menu__button::before {
  background: url("../img/ui-icons/burger.svg") 50% 50% no-repeat;
  opacity: 1;
}

.burger-menu__button::after {
  background: url("../img/ui-icons/burger-hover.svg") 50% 50% no-repeat;
  opacity: 0;
}

.burger-menu__button:hover::before {
  opacity: 0;
}

.burger-menu__button:hover::after {
  opacity: 1;
}

.burger-menu__button--opened::before,
.burger-menu__button--opened::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: 0.4s opacity;
  content: "";
}

.burger-menu__button--opened::before {
  background: url("../img/ui-icons/burger-close.svg") 50% 50% no-repeat;
  opacity: 1;
}

.burger-menu__button--opened::after {
  background: url("../img/ui-icons/burger-close-hover.svg") 50% 50% no-repeat;
  opacity: 0;
}

.burger-menu__button--opened:hover::before {
  opacity: 0;
}

.burger-menu__button--opened:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  .burger-menu__logo {
    display: none;
  }
}
