.button {
  padding: 15px 20px;
  color: #000;
  font-size: 16px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: #e0e0e0;
}

.button:active {
  color: #e0e0e0;
  background-color: #808080;
}
