.button-up {
  position: fixed;
  right: 50px;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background-color: #7540f0;
  border-radius: 10px;
  transition: all 0.3s;
  fill: #fff;
}

@media (max-width: 768px) {
  .button-up {
    right: 20px;
    width: 44px;
    height: 44px;
  }
}

.button-up:hover {
  background-color: #bd0;
}

.button-up:active {
  background-color: #fff;
  fill: #bd0;
}
