.form {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.form--burger {
  margin-bottom: 16px;
}

.form--auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form--reg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.form__text--modal {
  display: block;
  padding-bottom: 10px;
  font-weight: 700;
}

.form__input {
  display: block;
  min-width: 100%;
  min-height: 60px;
  color: #fff;
  background-color: rgba(16, 0, 37, 0.25);
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.form__input::placeholder {
  padding-left: 20px;
  color: #fff;
  font-size: 16px;
}

.form__input:focus::placeholder {
  color: transparent;
}

.form__input--burger {
  min-height: 40px;
}

.form__input:hover {
  border-color: #fff;
}

.form__input--modal {
  min-height: 48px;
  margin-bottom: 36px;
  color: #000;
  background-color: #fff;
  border-color: #e0e0e0;
  caret-color: #000;
}

.form__input--modal:hover {
  border-color: #000;
}

.form__input--reg {
  min-width: 250px;
}

.form__submit {
  position: absolute;
  top: 50%;
  right: 12px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  transition: 0.5s opacity;
}

.form__submit::before,
.form__submit::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  transition: 0.4s opacity;
  content: "";
}

.form__submit::before {
  background: url("../img/ui-icons/glass.svg") 50% 50% no-repeat;
  opacity: 1;
}

.form__submit::after {
  background: url("../img/ui-icons/glass-hover.svg") 50% 50% no-repeat;
  opacity: 0;
}

.form__submit:hover::before {
  opacity: 0;
}

.form__submit:hover::after {
  opacity: 1;
}

.form__input-checkbox-wrapper {
  position: relative;
  display: flex;
  grid-column: 1/-1;
  justify-self: center;
  margin-bottom: 26px;
  margin-left: 32px;
  cursor: pointer;
}

.form__input-checkbox + span::before {
  position: absolute;
  top: 50%;
  left: -42px;
  width: 32px;
  height: 34px;
  background: url("../img/ui-icons/checkbox-epmty.svg") no-repeat 50% 50%;
  transform: translateY(-50%);
  content: "";
}

.form__input-checkbox:checked + span::after {
  position: absolute;
  top: 50%;
  left: -42px;
  width: 32px;
  height: 34px;
  background: url("../img/ui-icons/checkbox-checked.svg") no-repeat 50% 50%;
  transform: translateY(-50%);
  content: "";
}

.form__modal-submit {
  align-self: center;
  padding: 15px 40px;
  color: #fff;
  background-color: #7540f0;
  border-radius: 4px;
  transition: all 0.4s;
}

.form__modal-submit:hover {
  background-color: #bd0;
}

.form__modal-submit--reg {
  grid-column: 1/-1;
  justify-self: center;
}

.form__modal-submit:disabled {
  color: #808080;
  background-color: #404040;
}
