.narrow-wrapper {
  position: relative;
  max-width: 1060px;
  margin: 0 auto;
}

.wide-wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.uppercase-mod {
  text-transform: uppercase;
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
