.info__wrapper {
  display: grid;
  grid-template-columns: 300px 440px 300px;
  margin-bottom: 20px;
  column-gap: 10px;
}

.info__win {
  position: relative;
  display: inline;
  margin: 0;
  padding: 10px 15px 10px 50px;
  color: #7d3800;
  font-weight: 700;
  font-size: 20px;
  background-color: #fff;
  border-radius: 10px;
}

.info__win::before {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 24px;
  height: 24px;
  background: url("../img/radiant-logo.svg") 50% 50% no-repeat;
  transform: translateY(-50%);
  content: "";
}

.info__winner {
  display: flex;
  align-items: end;
}

.info__score-statistic {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__score {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
}

.info__score--team-1 {
  color: #bd0;
}

.info__score--team-2 {
  color: #fa7000;
}

.info__list {
  margin: 0;
  padding: 0;
  text-align: center;
}

.info__list--row {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  text-align: end;
}

.info__item--statistic:not(:last-child) {
  margin-bottom: 10px;
}

.info__time-ago,
.info__time,
.info__mode,
.info__title,
.info__value {
  margin: 0;
}

.info__mode {
  font-size: 24px;
}

.info__time {
  font-size: 32px;
}

.info__time-ago {
  color: #e0d8ff;
  font-size: 16px;
}

.info__title {
  font-weight: 700;
  font-size: 16px;
}

.info__value {
  color: #e0d8ff;
  font-weight: 500;
  font-size: 14px;
}

.info__statistic {
  display: flex;
  align-items: end;
}
