.modal-reg {
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 120;
  display: none;
  min-width: 774px;
  min-height: 432px;
  padding-right: 80px;
  padding-left: 80px;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
}
