.modal-auth {
  position: fixed;
  top: 55%;
  left: 50%;
  z-index: 100;
  display: none;
  max-width: 546px;
  min-height: 532px;
  padding-right: 80px;
  padding-left: 80px;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  transform: translateX(-50%) translateY(-50%);
}
