.modal__wrapper {
  margin: 0 auto;
}

.modal__title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  background: linear-gradient(88.92deg, #7540f0 0.38%, #7b61ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal__close-auth-button,
.modal__close-reg-button {
  position: absolute;
  top: 22px;
  right: 22px;
}

.modal__link-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.modal__link-wrapper--indent {
  margin-bottom: 37px;
}

.modal__text {
  margin: 0;
  margin-right: 20px;
  color: #808080;
}

.modal__text--indent {
  margin-left: 15px;
}

.modal__link {
  position: relative;
  color: #000;
  font-weight: 700;
  transition: all 0.4s;
}

.modal__link::before,
.modal__link::after {
  position: absolute;
  top: 0;
  right: -32px;
  width: 20px;
  height: 20px;
  transition: 0.4s opacity;
  content: "";
}

.modal__link::before {
  background: url("../img/ui-icons/arrow-right.svg") 50% 50% no-repeat;
  opacity: 1;
}

.modal__link::after {
  background: url("../img/ui-icons/arrow-right-hover.svg") 50% 50% no-repeat;
  opacity: 0;
}

.modal__link:hover {
  color: #bd0;
}

.modal__link:hover::before {
  opacity: 0;
}

.modal__link:hover::after {
  opacity: 1;
}
