.page-footer {
  background-color: rgba(16, 0, 37, 0.25);
}

.page-footer a {
  color: #e0d8ff;
}

.page-footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  margin: 0 auto;
  padding-right: 80px;
  padding-left: 80px;
}

@media (max-width: 768px) {
  .page-footer__content {
    flex-direction: column;
  }
}

.page-footer__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .page-footer__list {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.page-footer__item:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 768px) {
  .page-footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
