.page-nav {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .page-nav {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.page-nav--burger {
  flex-direction: column;
}

.page-nav__link {
  text-align: center;
}

.page-nav__link--indents {
  padding: 15px 90px;
}

@media (max-width: 768px) {
  .page-nav__link--indents {
    margin-bottom: 20px;
    padding: 15px 0;
  }
}

@media (min-width: 768px) {
  .page-nav__link--burger-mobile {
    display: none;
  }
}

.page-nav__link--burger-disabled {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #e0e0e0;
  cursor: default;
}

.page-nav__link--burger-disabled,
.page-nav__link--burger {
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  text-align: start;
  transition: all 0.5s;
}

.page-nav__link--burger-disabled::before,
.page-nav__link--burger-disabled::after,
.page-nav__link--burger::before,
.page-nav__link--burger::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  transition: 0.3s opacity;
  content: "";
}

.page-nav__link--burger-disabled::before,
.page-nav__link--burger::before {
  background: url("../img/ui-icons/arrow-right-black.svg") 50% 50% no-repeat;
  opacity: 1;
}

.page-nav__link--burger-disabled::after,
.page-nav__link--burger::after {
  background: url("../img/ui-icons/arrow-right-hover.svg") 50% 50% no-repeat;
  opacity: 0;
}

.page-nav__link--burger:hover {
  color: #bd0;
}

.page-nav__link--burger:hover::before {
  opacity: 0;
}

.page-nav__link--burger:hover::after {
  opacity: 1;
}
