.page-header {
  display: flex;
  width: 100%;
}

.page-header__logo {
  display: block;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 156px;
}

@media (max-width: 768px) {
  .page-header__logo {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
