.page-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 128px;
  font-weight: bold;
  font-size: 48px;
  line-height: normal;
  text-shadow: 0 8px 16px rgba(16, 0, 37, 0.15);
  background: linear-gradient(268.55deg, #ebc1ff 0%, #e0d8ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
