.page {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

@media (min-width: 320px) {
  .page {
    overflow-x: hidden;
  }
}

.page--modal-auth::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #301070;
  opacity: 0.7;
  transition: 0.3s;
  content: "";
}

.page--modal-reg::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100%;
  height: 100%;
  background: #301070;
  opacity: 0.95;
  transition: 0.3s;
  content: "";
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: Inter, Arial, sans-serif;
  line-height: normal;
  background-color: #200050;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;
}

.page__body a {
  text-decoration: none;
}

.page__body--small-bg li,
.page__body--medium-bg li,
.page__body--big-bg li {
  list-style: none;
}

.page__body--small-bg {
  background-image: url("../img/img-bg.png");
}

.page__body--medium-bg {
  background-image: url("../img/img-bg-2.png");
}

.page__body--big-bg {
  background-image: url("../img/img-bg-3.png");
}
