.section-advantage__wrapper {
  max-width: 1170px;
}

.section-advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 74px;
  padding: 0;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .section-advantage__list {
    margin-bottom: 55px;
  }
}

.section-advantage__item {
  position: relative;
  max-width: 370px;
  min-height: 305px;
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 178px;
  text-align: center;
}

@media (max-width: 768px) {
  .section-advantage__item {
    min-height: 177px;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 84px;
  }
}

.section-advantage__item::before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 128px;
  height: 128px;
  transform: translateX(-50%);
  content: "";
}

@media (max-width: 768px) {
  .section-advantage__item::before {
    width: 64px;
    height: 64px;
  }
}

.section-advantage__item:nth-child(1)::before {
  background: url("../img/advantage-img-1.svg") 50% 50% no-repeat;
  background-size: contain;
}

.section-advantage__item:nth-child(2)::before {
  background: url("../img/advantage-img-2.svg") 50% 50% no-repeat;
  background-size: contain;
}

.section-advantage__item:nth-child(3)::before {
  background: url("../img/advantage-img-3.svg") 50% 50% no-repeat;
  background-size: contain;
}

.section-advantage__title,
.section-advantage__description {
  margin-top: 0;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  .section-advantage__title,
  .section-advantage__description {
    margin-bottom: 20px;
  }
}

.section-advantage__description {
  max-width: 320px;
}
