.section-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-table--teams-page {
  margin-bottom: 54px;
}

.section-table--matches-page {
  margin-bottom: 118px;
}

.section-table--datails-page {
  margin-bottom: 0;
}

.section-table__lists-wrapper {
  min-width: 1060px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .section-table__lists-wrapper {
    min-width: 440px;
  }
}

.section-table__list {
  margin: 0;
  padding: 0;
}

.section-table__item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  pointer-events: none;
}

.section-table__item:nth-child(2n + 1) {
  background-color: rgba(16, 0, 37, 0.25);
}

.section-table__item:not(:first-child):nth-child(2n) {
  background-color: rgba(16, 0, 37, 0.15);
}

.section-table__button {
  margin: 0 auto;
  padding: 15px 20px;
}
