.table {
  font-weight: 600;
}

.table__list {
  display: grid;
  align-items: center;
  min-width: 100%;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  padding-left: 40px;
  border: 2px solid #301070;
  border-top: none;
  transition: all 0.5s;
}

.table__list--dark-bg {
  background-color: #301070;
}

.table__list--list-top {
  grid-template-columns: repeat(3, min-content);
  padding-left: 20px;
  font-weight: 600;
  column-gap: 20px;
}

.table__list--header {
  border-top: 2px solid #301070;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  pointer-events: none;
}

.table__list--footer {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table__list--teams-page {
  grid-template-columns: 128px 426px repeat(3, 149px);
}

.table__list--matches-page {
  grid-template-columns: 240px 220px 270px 270px;
}

.table__list--details-page {
  grid-template-columns: 200px 40px repeat(3, 30px) 70px 60px 100px 50px 40px 50px 280px;
  color: #e0d8ff;
}

.table__list--hover:hover {
  background-color: rgba(48, 16, 112, 0.4);
}

.table__item {
  position: relative;
  padding: 20px 0 21px;
}

.table__item--img {
  display: flex;
  align-items: center;
}

.table__item--header {
  padding: 0;
}

.table__team-link {
  color: inherit;
}

.table__img-wrapper {
  position: relative;
}

.table__img-wrapper::before {
  position: absolute;
  top: 0;
  left: -4px;
  width: 4px;
  height: 27px;
  background-color: #3375ff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  content: "";
}

.table__img {
  height: 40px;
  margin-right: 10px;
}

.table__img--heroes {
  height: 27px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table__text {
  position: relative;
  margin: 0;
  font-size: 16px;
}

.table__text--name {
  color: #bd0;
  font-size: 24px;
}

.table__text--user-name {
  color: #bd0;
  font-size: 16px;
}

.table__text--hero {
  font-size: 12px;
}

.table__text--cursor {
  cursor: default;
}

.table__dropdown {
  position: absolute;
  top: -75px;
  left: 10px;
  z-index: 100;
  padding: 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background-color: #7540f0;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s opacity, 0.2s visibility;
}

.table__dropdown--teams-page {
  top: -118px;
  left: -204px;
  max-width: 472px;
}

.table__dropdown::before {
  position: absolute;
  bottom: -9px;
  left: 50%;
  width: 20px;
  height: 10px;
  background: url("../img/triangle.svg") 50% 50% no-repeat;
  transform: translateX(-50%);
  content: "";
}

.table__text:hover .table__dropdown {
  visibility: visible;
  opacity: 1;
}

.table__warn:hover ~ .table__dropdown {
  visibility: visible;
  opacity: 1;
}

.table__name {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 19px;
}

.table__name--light-green {
  color: #bd0;
}

.table__name--orange {
  color: #fa7000;
}

.table__name--yellow {
  color: #eecd00;
}

.table__footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 64px;
  border: 2px solid #301070;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table__footer-subtitle,
.table__footer-text {
  margin: 0;
}

.table__footer-subtitle {
  margin-right: 10px;
}

.table__warn {
  margin-right: 12px;
  margin-left: 22px;
}

.table__statistic-team {
  color: #e0d8ff;
  white-space: nowrap;
}

.table__status-game {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 30px;
}

.table__status-game--losers {
  color: #fa7000;
  background-color: rgba(250, 112, 0, 0.25);
}

.table__status-game--winners {
  color: #bd0;
  background-color: rgba(187, 221, 0, 0.25);
}
