.warn-subtitle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 20px;
  margin-left: 34px;
  color: #eecd00;
  font-size: 14px;
}

.warn-subtitle::before {
  position: absolute;
  top: -3px;
  left: -34px;
  width: 24px;
  height: 24px;
  background: url("../img/triangle-warn-icon.svg") 50% 50% no-repeat;
  content: "";
}
